/*----------------------------------------------------------------------------
    Elements
----------------------------------------------------------------------------*/

body {
    font-family: serif;
    background-color: white;
    margin: 0.2em;
    padding: 0;
    height: 100%;
}

input.text {
    width: 540px;
    font-family: serif;
    font-size: 100%;
}

p {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.7em;

    padding: 0;
} 

textarea {
    width: 540px;
    height: 100px;
    font-family: serif;
    font-size: 100%;
}

td {
    vertical-align: top;
}


/*----------------------------------------------------------------------------
    Classes
----------------------------------------------------------------------------*/

/* Generic classes */

.content {
    width: 800px;
}

.body {
    height: 100%;
}

.header {
    font-size: 180%;

    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.subheader {
    font-size: 100%;

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.footer {
    margin: 0;
    padding: 0;

    font-size: 80%;

    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #4682b4;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.tape {
    margin-top: 10px;
}

.cloud {
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #4682b4;
    margin-left: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
    width: 160px;
}


/* Sections */
.sections {
    width: 100%;
    
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #4682b4;

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #4682b4;
}

.section, .section-active {
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    background-color: white;
}

.section {
}

.section-active {
    font-weight: bold;
    background-color: #e0eeee;
}

/* Static text */

.static-text {
    margin: 10px;
}

/* Blog post */

.post {
    margin-top: 2px;
    padding-left: 2px;
    margin-bottom: 34px;
    width: 100%;
}

.blog-content {
    width: 100%;
}

.post-title {
    font-size: 120%;
    font-weight: bold;
    color: black;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
}

.post-timestamp {
    font-size: 80%;
}

.post-content {
    margin: 10px;
}

.post-tags {
    font-size: 80%;
    margin-bottom: 2px;
}

.post-action {
    margin-left: 2px;
    margin-right: 2px;
}

.post-actions {
    margin-top: 5px;
    font-size: 80%;
}


/* Comment */

.comment, .author-comment {
    margin-bottom: 13px;
    padding: 3px;
    width: 100%;
}

.author-comment {
    background-color: #eeeeee;
}

.comment-header {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;

    font-size: 80%;
}

.comment-content {
    margin: 10px;
}

.comment-action {
    margin-left: 2px;
    margin-right: 2px;
}

.comment-actions {
    margin-top: 5px;
    font-size: 80%;
}


/*----------------------------------------------------------------------------
    Workarounds
----------------------------------------------------------------------------*/
a.post-title {
    text-decoration: none;
}
